---
interface Props {
  class?: string;
}
---

<ol role="list" class="relative flex flex-col gap-0">
  <div
    id="timeline-line"
    class="rounded-full timeline-ray bg-gradient-to-b from-muted to-primary/70 absolute w-0.5 left-[7.5px] top-0"
  ></div>
  <slot />
</ol>

<script>
  const line = document.getElementById("timeline-line");

  const updateLine = () => {
    const windowHeight = window.innerHeight;
    const rect = line.parentElement.getBoundingClientRect();
    
    // distancia desde el top del viewport hasta el top del ol
    const scrollProgress = (windowHeight / 2 - rect.top) / rect.height;
    
    // limitar entre 0 y 1
    const scaleY = Math.min(Math.max(scrollProgress, 0), 1) * 1.035;

    line.style.transform = `scaleY(${scaleY})`;
  };

  window.addEventListener("scroll", updateLine);
  window.addEventListener("resize", updateLine);
  updateLine(); // inicial
</script>

<style>
.timeline-ray {
  transform-origin: top;
  height: 100%;
}
</style>
