---
interface Props {
  class?: string;
}
---

<ol role="list" class="relative flex flex-col gap-0">
  <div
    class="animate-line timeline-ray bg-primary/70 absolute w-0.5 left-[7.5px] -top-8 bottom-0"
  >
  </div>
  <slot />
</ol>

<style>
  @keyframes timeline-line {
    from {
      transform: scaleY(0);
    }
    to {
      transform: scaleY(1);
    }
  }

  .animate-line {
    transform-origin: top;
    height: 100%;
    animation: timeline-line 1 linear both;
    animation-timeline: scroll(root block);
    animation-range: contain;
  }

  .timeline-ray {
    mask-image: linear-gradient(to bottom, black, black);
    -webkit-mask-image: linear-gradient(to bottom, black, black);
  }
</style>
