---
import ArrowRight from "@/icons/ArrowRight.astro";
import { Image } from "astro:assets";

interface Props {
  id: string;
  title: string;
  description: string;
  imageSrc?: string;
  imageAlt?: string;
}
const { id, title, description, imageSrc, imageAlt } = Astro.props;
---

<article
  id={id}
  class="group break-inside-avoid p-4 hover:bg-input/30 ring-0 ring-muted-foreground transition-all duration-300
       hover:ring-2 cursor-pointer animate-card-appear "
>
  <header class="font-bold mb-2 flex items-center justify-between gap-2">
    <span class="w-full text-balance">{title}</span>
    <span class="inline-block ml-2 mb-1 transition-transform duration-300 group-hover:-rotate-45"><ArrowRight /></span>
  </header>

  <small class="block mb-4">{description}</small>

  {imageSrc && (
    <Image
      src={imageSrc}
      alt={imageAlt ?? title}
      class="w-full"
      width="800"
      height="400"
    />
  )}
</article>
