---
import { ArrowRight } from "@lucide/astro";

interface Props {
  id: string;
  title: string;
  description: string;
  imageSrc?: string;
  imageAlt?: string;
}
const { id, title, description, imageSrc, imageAlt } = Astro.props;
---

<article
  id={id}
  class="group break-inside-avoid p-4 border-t border-border transition-colors duration-300 hover:bg-input/50 cursor-pointer animate-card-appear "
>
  <header class="font-bold mb-2 flex items-center justify-between">
    <span>{title}</span>
    <ArrowRight
      class="inline-block ml-2 mb-1 transition-transform duration-300 group-hover:-rotate-45"
    />
  </header>

  <small class="block mb-2">{description}</small>

  {imageSrc && (
    <img
      src={imageSrc}
      alt={imageAlt ?? title}
      class="w-full rounded"
      width="800"
      height="400"
    />
  )}
</article>
