---
interface SectionHeaderProps {
  title: string;
}

const { title } = Astro.props as SectionHeaderProps;
---

<header class="flex items-center mb-4">
  <slot />
  <h2 class="glass-title-H2">
    {title}
  </h2>
</header>
