---
import UserIcon from "@/icons/UserIcon.astro";
import Header from "../molecules/Header.astro";
import { Image } from "astro:assets";
import Button from "../atoms/Button.astro";
import Linkedin from "@/icons/Linkedin.astro";
import Github from "@/icons/Github.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="animate-appear-content bg-card z-10 space-y-12 px-6 md:px-12">
  <Header title={t("about-me.title")} description={t("about-me.description")}>
    <UserIcon />
  </Header>

  <div
    class="flex flex-col-reverse md:flex-row-reverse items-center md:items-start gap-12 text-sm leading-relaxed"
  >
    <picture
      class="picture-square"
    >
      <Image
        src="https://media.licdn.com/dms/image/v2/D4D03AQGsq73DuIu0vA/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1713716662900?e=1759363200&v=beta&t=mYbEBkS1P4DZFE_g6CFWzGm0DpIz_Jf4R3ud5gch_pc"
        alt="Picture of Lucas Navarro"
        class="rounded-lg w-full h-full object-cover"
        width="200"
        height="200"
        loading="lazy"
      />
    </picture>

    <article class="space-y-5">
      <div set:html={t("about-me.text")} />
      <footer class="flex gap-2">
        <Button
          variant="secondary"
          aria-label="View my linkedin profile (external link)"
          href={t("about-me.linkedin.url") as string}
        >
          <Linkedin class="size-4" />
          LinkedIn
        </Button>

        <Button
          variant="secondary"
          aria-label="View my GitHub profile (external link)"
          href="https://github.com/LucasNav6"
        >
          <Github class="size-4" />
          GitHub
        </Button>
      </footer>
    </article>
  </div>
</section>

<style>
  .picture-square {
    width: 100%;
    max-width: 200px;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    border-radius: 0.75rem;
    overflow: hidden;
    padding: 0.25rem;
    background: rgb(0 0 0 / 0.2);
    object-fit: cover;
    transform: rotate(3deg);
    box-shadow: 0 0 0 1px rgb(0 0 0 / 0.7);
  }
</style>
