---
import { BriefcaseBusinessIcon } from "lucide-react";
import Header from "../molecules/Header.astro";
import { EXPERIENCE_TIMELINE } from "@/models/experiences";
import TimelineExperience from "../molecules/TimelineExperience.astro";
---

<div class="section pt-6 md:pt-12">
    <Header
        title="Where I’ve left fingerprints"
        description="Stages where I grew—and left measurable impact. A tour of the organizations that trusted me and the victories we delivered together."
        ><BriefcaseBusinessIcon /></Header
    >
    <TimelineExperience experiences={EXPERIENCE_TIMELINE} />
</div>