---
import { BriefcaseBusinessIcon } from "lucide-react";
import Header from "../molecules/Header.astro";
import ComemetExperience from "../molecules/commetCard";
import { EXPERIENCE_TIMELINE } from "@/models/experiences";
import TimelineExperience from "../molecules/TimelineExperience.astro";
---

<div class="px-4 md:px-14 pt-4 md:pt-12 pb-4 animate-appear-content">
    <Header title="Experiencies & Archievments"><BriefcaseBusinessIcon /></Header>
    <section class="w-full flex gap-10">
        <TimelineExperience experiences={EXPERIENCE_TIMELINE} />
        <aside class="w-40 sticky top-8 self-start hidden md:block pt-8">
            <ComemetExperience client:load />
        </aside>
    </section>
</div>
