---
import { BriefcaseBusinessIcon } from "lucide-react";
import Header from "../molecules/Header.astro";
import { EXPERIENCE_TIMELINE } from "@/models/experiences";
import TimelineExperience from "../molecules/TimelineExperience.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="section space-y-8">
    <Header
        title={t("experience.title")}
        description={t("experience.subtitle")}
        ><BriefcaseBusinessIcon /></Header
    >
    <TimelineExperience experiences={EXPERIENCE_TIMELINE} />
</div>