---
import BubbleBackground from "../atoms/BubbleBackground.astro";
import { Image } from "astro:assets";
import SocialButtons from "../molecules/SocialButtons.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import Plus from "@/icons/Plus.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<picture
  class="absolute w-screen left-0 pt-10 flex items-center justify-center z-10"
>
  <Image
    class="h-24 w-24 rounded-full overflow-hidden"
    src="https://avatars.githubusercontent.com/u/135039358?v=4"
    alt="Profile Lucas Navarro, software developer"
    width={96}
    height={96}
    loading="lazy"
    decoding="async"
  />
</picture>

<header
  class="py-24 relative w-full h-fit border-b space-y-4 md:space-y-8 gap-8 bg-foreground dark:bg-background"
>
  <Plus
    stroke-width={2}
    class="text-foreground/80 absolute z-10 -top-3 -left-3"
  />
  <Plus
    stroke-width={2}
    class="text-foreground/80 absolute z-10 -bottom-7 md:-bottom-11 -right-3"
  />

  <BubbleBackground interactive={true} />

  <div class="h-12"></div>
  <h1 class="glass-title-H1 text-balance">{t("hero.title")}</h1>
  <p class="glass-text">{t("hero.subtitle")}</p>
  <SocialButtons />
</header>

<script>
  import { initInteractiveBubble } from "@/utils/interactive-bubble";

  const containers = document.querySelectorAll('[data-interactive="true"]');
  containers.forEach((container) => {
    const cleanup = initInteractiveBubble(container);

    document.addEventListener("astro:before-swap", () => {
      if (cleanup) cleanup();
    });
  });
</script>
