---
import Header from "../molecules/Header.astro";
import CardProject from "../molecules/CardProject.astro";
import { PROJECTS } from "@/models/projects";
import RocketIcon from "@/icons/RocketIcon.astro";
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="animate-appear-content space-y-12 bg-card">
  <div class="px-2 md:px-11">
    <Header
      title={t("project.title")}
      description={t("project.subtitle")}
    >
      <RocketIcon />
    </Header>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 divide-x divide-y ring-1 ring-border">
    {
      PROJECTS.map((project, i) => (
        <CardProject
          id={project.title.toLowerCase().replace(/\s+/g, "-")}
          title={project.title}
          description={project.description}
          imageSrc={project.image ?? undefined}
          imageAlt={project.title}
        />
      ))
    }
  </div>
</section>