---
import { RocketIcon } from "@lucide/astro";
import Header from "../molecules/Header.astro";
import CardProject from "../molecules/CardProject.astro";
import { PROJECTS } from "@/models/projects";
---

<section class="animate-appear-content mt-6 bg-card">
  <div class="px-1 md:px-11">
    <Header
      title="Peek at What projects I’ve Been Building"
      description="Take a look at the latest things I’ve shipped—code, demos, and stories behind"
    >
      <div class="bg-primary p-2 rounded-full">
        <RocketIcon class="text-primary-foreground" />
      </div>
    </Header>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 border-y">
    {
      PROJECTS.map((project, i) => (
        <CardProject
          id={project.title.toLowerCase().replace(/\s+/g, "-")}
          title={project.title}
          description={project.description}
          imageSrc={project.image ?? undefined}
          imageAlt={project.title}
        />
      ))
    }
  </div>
</section>