---
import { RocketIcon } from "@lucide/astro";
import Header from "../molecules/Header.astro";
---

<div class="px-4 md:px-14 pb-4 animate-appear-content">
    <Header title="My projects"><RocketIcon /></Header>
    
</div>