---
import TopNavigation from "@/components/organisms/TopNavigation.astro";
import Footer from "@/components/organisms/Footer.astro";
// import SpeedInsights from "@vercel/speed-insights/astro";
import { ClientRouter } from "astro:transitions";
import "@fontsource-variable/onest";
import "@/styles/global.css";

const { lang = "en" } = Astro.props;
---

<html lang={lang}>
  <body
    class="w-screen h-screen min-h-screen bg-background px-6 py-4 font-sans"
  >
    <div class="m-auto w-full max-w-[780px] space-y-8">
      <TopNavigation />
      <section class="bg-card outline outline-border pb-8 space-y-12">
        <slot />
      </section>
      <Footer />
    </div>
    <ClientRouter />
    <!-- <SpeedInsights /> -->
  </body>
</html>
